/*
 * Copyright ${startYear}-2013 Synchronoss Technologies, Inc.  All Rights Reserved.
 *
 * This source code is the confidential and proprietary information of
 * Synchronoss Technologies, Inc.
 *
 * (""Confidential Information""). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with Synchronoss Technologies.
 */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../StyleSheet/glyphicons-halflings-regular.eot');
    src: url('../StyleSheet/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../StyleSheet/glyphicons-halflings-regular.woff') format('woff'), url('../StyleSheet/glyphicons-halflings-regular.ttf') format('truetype'), url('../StyleSheet/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.iconArrow {
    margin-top: 15px;
    margin-right: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.activeIcons {
    padding-right: 10px;
}

aisidebar, #cononar, er_sidebar, #conbar, #container, #mainForm {
    height: 100% !important;
}

body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #919191;
    background-color: #f5f5f5;
    margin-bottom: 0px !important;
    height: 100%;
}

a {
    color: #606060;
    text-decoration: none;
}

    a:hover {
        color: #0e4983;
        text-decoration: underline;
    }

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #ff5a00;
}

    h1 span {
        font-size: 18px;
        font-weight: normal;
    }

.padT40 {
    padding: 30px;
    border: solid 1px red;
}
/*header style start*/

header {
    min-height: 77px;
    background-color: #4f5052;
    border: 1px solid #2065a7;
    *zoom: 1;
}

.headerIcon {
    margin: 10px 0px;
    color: #fff;
    text-align: right;
    padding: 20px 0px;
}

    .headerIcon a {
        color: #fff;
        font-weight: normal;
        margin: 0px 5px;
    }

        .headerIcon a:last-child {
            margin-right: 0px;
        }

    .headerIcon img.setting-icon-default {
        margin-left: 10px;
        vertical-align: middle;
        cursor: pointer;
    }

.userClient {
    text-align: right;
}

    .userClient div {
        margin: 0px;
        padding: 30px 0 0 0 !important;
    }

    .userClient div {
        list-style: none;
        margin-right: 10px;
        color: #ffffff !important;
        float: left;
    }

    .userClient > div > a {
        list-style: none;
        color: #ffffff !important;
    }

        .userClient > div > a img {
            margin-top: -5px;
        }

.navbar-default .navbar-toggle {
    border: solid 1px #299fba;
    margin-top: 25px;
}

    .navbar-default .navbar-toggle .icon-bar {
        border: solid 1px #299fba;
        background-color: #299fba;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #183446;
    }

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: #9a9691;
    font-size: 14px;
    height: 40px;
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    font-family: Segoe UI, sans-serif;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    font-weight: bold;
    background-color: #95b589;
    color: #ffffff;
    outline: none;
    padding-left: 19px;
    padding-right: 19px;
    font-family: Segoe UI, sans-serif;
}

.nav.navbar-nav > li:hover .arrow1 {
    font-weight: bold;
    border: 10px solid transparent;
    border-top-color: #95b589;
    top: 40px;
    left: 40%;
    position: absolute;
    display: inline;
    font-family: Segoe UI, sans-serif;
}

.arrow1 {
    display: none;
}

.active .arrow1 {
    border: 10px solid transparent;
    border-top-color: #95b589;
    top: 40px;
    left: 40%;
    position: absolute;
    display: inline;
}

.customNavbar .glyphicon {
    margin-right: 3px;
    top: 2px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    font-weight: bold;
    background-color: #95b589;
    color: #fff;
    font-family: Segoe UI, sans-serif;
}

.navbar-brand {
    height: 50px;
    margin-right: 40px;
}

.navVoucher {
    margin-top: 20px;
}

.customSearch {
    border-left: solid 1px #f0efee;
    margin-top: 0px;
}

    .customSearch .input-group {
        margin-top: 7px;
    }

    .customSearch .input-group-btn .btn.btn-default {
        height: 28px;
        width: 10px;
        padding: 0px;
        padding-top: 13px;
    }

    .customSearch .navbar-form .input-group > .form-control {
        height: 28px;
        background-color: transparent;
        border: 0px;
        box-shadow: none;
    }

    .customSearch .glyphicon.glyphicon-search {
        top: -7px;
        margin: 0px;
        width: 15px;
    }

.headerMenu {
    padding: 20px 0;
    display: inline;
}

    .headerMenu a {
        color: #f2f2f2 !important;
    }

        .headerMenu a:hover, .headerMenu a:focus {
            color: #183446 !important;
        }

.customNavbar.navbar-default {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 3px 3px 3px #e3e3e3;
}

.navbar-default {
    min-height: 40px;
    margin-bottom: 0px;
}

.customNavbar .container-fluid {
    padding: 0px;
    background-color: #;
}

.navbar-brand {
    font-family: Segoe UI, sans-serif;
    font-size: 24px !important;
    padding: 30px;
    color: #ffffff !important;
}

.quick_Links .btn-group-vertical {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Segoe UI, sans-serif;
}

    .quick_Links .btn-group-vertical li a {
        width: 92%;
        display: inline-block;
        outline: none;
        border-radius: 0px;
        font-family: Segoe UI, sans-serif;
    }

    .quick_Links .btn-group-vertical li ul.dropdown-menu li a {
        margin-left: 0px;
        font-family: Segoe UI, sans-serif;
    }

    .quick_Links .btn-group-vertical li ul.dropdown-menu li a {
        margin-top: 0px;
        border-bottom: solid 1px rgba(149, 148, 148, 0.32);
        width: auto;
        font-family: Segoe UI, sans-serif;
    }

    .quick_Links .btn-group-vertical li ul.dropdown-menu li:last-child a {
        border-bottom: solid 0px #959494;
    }

    .quick_Links .btn-group-vertical .btn {
        background-color: transparent;
        font-size: 12px;
        width: 100%;
        border: 0px;
        text-align: left;
        padding: 3px 0px 10px 0px;
        padding-left: 0px;
        outline: none;
        border-radius: 0px;
        font-family: Segoe UI, sans-serif;
    }

.quick_Links .dropdown-menu {
    position: relative;
    font-size: 12px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    font-family: Segoe UI, sans-serif;
}

    .quick_Links .dropdown-menu li a {
        padding: 10px 0px 10px 10px;
        display: block;
        color: #959494;
        font-family: Segoe UI, sans-serif;
    }

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #ffffff !important;
    background-color: #686868 !important;
    font-family: Segoe UI, sans-serif;
}
/*.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover*/

.dropdown-menu > a {
    background-color: transparent !important;
    color: #565656 !important;
    outline: 0 none;
    text-decoration: none;
    font-family: Segoe UI, sans-serif;
}

.dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #444444 !important;
    color: #959494 !important;
    outline: 0 none;
    text-decoration: none;
    font-family: Segoe UI, sans-serif;
}

.dropdown-menu > .active > a {
    background-color: transparent !important;
    color: #959494 !important;
    outline: 0 none;
    text-decoration: none;
    font-family: Segoe UI, sans-serif;
}
/*Side panel Style*/
#logo_trace {
    height: 40px;
    border-bottom: solid 1px #696969;
}

    #logo_trace img {
        margin: 0px 0px 0px 40px;
    }

.voucher_sidebarhome {
    background-color: #444444;
    margin: 0px;
    padding: 0px;
    color: #ececec;
}

.voucher_sidebar {
    background-color: #444444;
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #ececec;
}



.btn-default {
    color: #b4b3b3;
    font-weight: normal !important;
    font-family: Segoe UI, sans-serif;
}

.dropdown-menu > li > a {
    color: #ececec;
    background: #2d2d2d;
    font-family: Segoe UI, sans-serif;
}

.logoutDropdown .dropdown-menu > li > a {
    color: #737373;
    background: #ffffff;
    font-family: Segoe UI, sans-serif;
}

    .logoutDropdown .dropdown-menu > li > a:hover {
        color: #ffffff;
        background: #95b589;
        font-family: Segoe UI, sans-serif;
    }

.logoutDropdown .dropdown-menu > .active > a:focus,
.logoutDropdown .dropdown-menu > .active > a:hover {
    color: #737373 !important;
    background: #e7e7e7 !important;
    font-family: Segoe UI, sans-serif;
}


.dropdown-menu > li > a:hover {
    color: #959494;
    background: #444444;
    font-family: Segoe UI, sans-serif;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Segoe UI, sans-serif;
}

    .btn:hover {
        color: #ececec;
        background: #2d2d2d;
        font-family: Segoe UI, sans-serif;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus {
        color: #ececec;
        background: #2d2d2d;
    }

.btn-primary {
    color: #ececec;
    background: #2d2d2d;
    font-family: Segoe UI, sans-serif;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #ececec;
        background: #2d2d2d;
    }

    .btn-primary:active, .btn-primary.active {
        color: #ececec;
        background: #2d2d2d;
        box-shadow: none;
    }

.searchBg {
    padding: 15px;
    margin-top: 10px;
}

.input-group .form-control {
    background-color: #7c7d7f;
    border: 1px solid #7c7d7f;
    border-radius: 19px;
    height: 25px;
}

.input-group-addon {
    background-color: #7c7d7f;
    border: 1px solid #7c7d7f;
    border-radius: 19px;
    color: #ffffff;
    height: 25px;
    padding: 3px 12px;
}

.voucher_sidebar .nav-sidebar > .active > a, .voucher_sidebar .nav-sidebar > .active > a:hover, .voucher_sidebar .nav-sidebar > .active > a:focus {
    background-color: #efefef;
    color: #1f7ee1;
}

.voucher_sidebar .nav > li > a {
    background-color: #efefef;
    padding-left: 0px;
    font-size: 16px;
}

.voucher_sidebar .nav-sidebar {
    margin-top: 10px;
}

.btnAdd {
    background-color: #0084c7;
    border-radius: 0px;
    color: #ffffff;
    margin-top: 15px;
    padding: 13px;
    font-size: 16px;
    font-family: Segoe UI, sans-serif;
}

    .btnAdd span {
        margin-left: 3px;
    }

.quick_Links {
    padding: 0px 0px;
}

.glyphicon {
    top: 0px;
}

.voucher_main {
    float: right;
}
    /*Table style*/
    .voucher_main table {
        margin-bottom: 0px;
    }

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
    font-family: Segoe UI, sans-serif;
}

    table.table > thead > tr > th {
        background-color: #f6f6f6;
        font-size: 14px;
        font-weight: normal;
        border: 0px;
        border-bottom: solid 1px #e7e7e7;
        font-family: Segoe UI, sans-serif;
    }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td {
    border: 0px !important;
    border-bottom: solid 0px #e9e8e8 !important;
    font-family: Segoe UI, sans-serif;
}

.fluidMedia {
    position: relative;
    /*    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    padding-left: 10px;
    background: #f7f6f2;
}

    .fluidMedia iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
/*report Style*/

.formDetails {
    height: 1000px;
    background: #fff;
    box-shadow: 3px 0px 3px 3px #e3e3e3;
    padding: 10px 0px;
    margin-top: 9px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-family: Segoe UI, sans-serif;
}

.reportDetailsMN {
    height: 40px;
    background: #fcfcfc;
    box-shadow: 3px 0px 3px 3px #e3e3e3;
    padding: 10px 0px;
    margin-top: 9px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-family: Segoe UI, sans-serif;
}

    .reportDetailsMN .sectionTitleMn {
        margin: 3px 0px 3px 0px;
        padding-bottom: 25px;
        border-bottom: 0px;
        font-family: Segoe UI, sans-serif;
    }

        .reportDetailsMN .sectionTitleMn h2 {
            font-size: 20px;
            color: #7b7b7b;
            display: inline-block;
            float: left;
            margin: 0px;
            font-family: Segoe UI, sans-serif;
        }

        .reportDetailsMN .sectionTitleMn a {
            font-family: Segoe UI, sans-serif;
            color: #3497eb;
            margin: 0px;
            vertical-align: top;
            margin-right: 20px;
            font-family: Segoe UI, sans-serif;
        }

.downloadText {
    float: left;
    margin-top: 0px;
    font-family: Segoe UI, sans-serif;
}

.reportTable {
    margin: 10px;
    font-family: Segoe UI, sans-serif;
}

    .reportTable .table-bordered {
        border: solid 1px #e7e7e7;
    }

.setting {
    margin-right: 15px;
}

    .setting a {
        background: url(../Images/line.png) no-repeat 0px 0px;
    }


.glyphicon.glyphicon-chevron-right {
    margin-top: 11px;
    cursor: pointer;
    margin-left: 5px;
}

.pre-scrollableborder{
	padding:10px 0px 10px 0px;
	border: 1px solid #ccc;
	border-radius:4px;
	overflow:auto;
    background-color: #fcfcfc;
}


/****Footer****/

footer : 0px; px;
}

left: 0px; ain {
    padding-left: 0px;
}

i {
}

@media (max-width: 970px) {
    .voucher_main {
        padding-left: 0px;
    }
}

}

/* Por

/* P
/* P* P PPo* Po
/
/

/*

}{
    border: solid 1px #dddddd;
    background-color: #142736;
    padding: 15px 0px 0px;
    color: #ffffff;
}

    footer span {
        color: #ffffff;
    }

    footer a {
        color: #ffffff;
    }

        footer a:hover {
            color: #ffffff;
            text-decoration: underline;
        }

a.accordion-toggle {
    text-decoration: none;
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 1020px) {
}

@media (max-width: 970px) {
    .voucher_main {
        padding-left: 0px;
    }

    footer a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    a.accordion-toggle {
        text-decoration: none;
    }

    /* Extra small devices (phones, up to 480px) */
    /* No media query since this is the default in Bootstrap */
    @media (max-width: 1020px) {
    }

    @media (max-width: 970px) {
        .voucher_main {
            padding-left: 0px;
            ffff;
        }

        footer a:hover {
            adding-lefding-leff color: #ffffff;
            text-decoration: underline;
        }

        a.accordion-toggle {
            text-decoration: none;
        }

        /* Extra small devices (phones, up to 480px) */
        /* No media query since this is the default in Bootstrap */
        @media (max-width: 1020px) {
        }

        @media (max-width: 970px) {
            .voucher_main {
                padding-leargin-top: 11px;
            }


            /****Footer****/

            footer {
                border: solid 1px #dddddd;
                background-color: #142736;
                padding: 15px 0px 0px;
                color: #ffffff;
            }

                footer span {
                    color: #ffffff;
                }

                footer a {
                    color: #ffffff;
                }

                    footer a:hover {
                        color: #ffffff;
                        text-decoration: underline;
                    }

            a.accordion-toggle {
                text-decoration: none;
            }

            /* Extra small devices (phones, up to 480px) */
            /* No media query since this is the default in Bootstrap */
            @media (max-width: 1020px) {
            }

            @media (max-width: 970px) {
                .voucher_main {
                    padding-left: 0px;
                }
            }

            /* Portrait tablet to landscape and desktop */
            @media (min-width: 768px) and (max-width: 979px) {
                .voucher_main {
                    padding-left: 0px;
                }
            }

            @media (max-width: 790px) {
                .voucher_main {
                    padding-left: 0px;
                }
            }

            @media (max-width: 767px) {
                .voucher_main {
                    padding-left: 0px;
                }

                .navbar-default .navbar-collapse, .navbar-default .navbar-form {
                    border-top: solid 1px #299fba;
                }
            }

            @media (max-width: 480px) {
                .voucher_main {
                    padding-left: 0px;
                }

                .logo {
                    margin-left: 0px;
                }

                .headerIcon {
                    margin-top: 0px;
                }
            }

            @media (max-width: 370px) {
                .voucher_main {
                    padding-left: 0px;
                }

                .syncTxt {
                    padding-top: 0px;
                }
            }
        }
    }
}


/*******************************************************GRACe*******************************************************/

.ErrorMsgRight {
    font-size: 12px;
    color: #a94442;
    float: right !important;
    font-family: Segoe UI, sans-serif;
}

.ErrorMsgLeft {
    font-size: 12px;
    color: #a94442;
    float: left !important;
    font-family: Segoe UI, sans-serif;
}

.aspxcontrols {
    width: 100%;
    height: 20px;
    resize: none;
    padding: 0px 5px 0px 5px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #444444;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: Segoe UI, sans-serif;
}

    .aspxcontrols:focus {
        border-color: #95b589;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

    .aspxcontrols:hover {
        border-color: #95b589;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

    .aspxcontrols ::line-marker {
        border-color: #95b589;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

.aspxcontrolsdisable {
    pointer-events: none;
    width: 100%;
    height: 20px;
    resize: none;
    padding:0px 0px 0px 5px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #444444;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: Segoe UI, sans-serif;
}

.myCheckbox td label {
    padding-right: 12px;
    color: #444444;
    font-family: Segoe UI, sans-serif;
}

.aspxlabel {
    width: 100%;
    height: 20px;
    padding: 3px 3px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #444444;
    font-family: Segoe UI, sans-serif;
}

.aspxlabelbold {
    width: 100%;
    height: 20px;
    padding: 3px 3px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #444444;
    font-weight: bold;
    font-family: Segoe UI, sans-serif;
}

.aspxradiobutton {
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    color: #919191;
    border-color: #95b589;
    font-family: Segoe UI, sans-serif;
}

.divmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footable > thead > tr > th, .footable > thead > tr > td {
    position: relative;
}

.footable {
    border-spacing: 0;
    width: 100%;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: Segoe UI;
    font-size: 12px;
    color: #444444;
    background-color: #fcfcfc;
    font-family: Segoe UI, sans-serif;
     border-collapse: separate !important;
}


    .footable.breakpoint > tbody > tr.footable-row-detail {
        background: #eee;
    }

    .footable > tbody > tr:hover {
        background: #f9f9f9;
    }

    .footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
        cursor: pointer;
    }

    .footable > tbody > tr > td, .footable > thead > tr > th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 1px 3px 1px 3px;
        text-align: left;
        vertical-align: -webkit-baseline-middle;
        font-family: Segoe UI, sans-serif;
    }

    .footable > thead > tr > th, .footable > thead > tr > td {
        background-color: #E5E5E5;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#ebf3fc),to(#dce9f9));
        background-image: -webkit-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: -moz-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: -ms-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: -o-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: linear-gradient(to bottom,#ebf3fc,#dce9f9);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        border-top: 0;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        font-family: Segoe UI, sans-serif;
    }

        .footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {
            -moz-border-radius: 6px 0 0;
            -webkit-border-radius: 6px 0 0;
            border-radius: 6px 0 0;
        }

        .footable > thead > tr > th:last-child, .footable > thead > tr > td:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .footable > thead > tr > th:only-child, .footable > thead > tr > td:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .footable > tbody > tr:last-child > td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    .footable > tbody > tr:last-child > td:last-child {
        -moz-border-radius: 0 0 6px;
        -webkit-border-radius: 0 0 6px;
        border-radius: 0 0 6px;
    }

    .footable > tbody img {
        vertical-align: middle;
    }


/* Pagination Styles*/
.gridpagination {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    font-family: Segoe UI, sans-serif;
    /*background-color:#fff;
     padding:2px;
     margin:2% auto;*/
}

    .gridpagination a {
        position: relative;
        float: left;
        padding: 8px 8px;
        line-height: 0.42857143;
        text-decoration: none;
        color: #444444;
        background-color: #e5e5e5;
        margin-left: -1px;
        border: 1px solid #ccc;
        font-family: Segoe UI, sans-serif;
    }

    .gridpagination span {
        position: relative;
        float: left;
        padding: 8px 8px;
        line-height: 0.42857143;
        text-decoration: none;
        color: #ffffff;
        background-color: #95b589;
        margin-left: -1px;
        border: 1px solid #ccc;
        font-weight: bold;
        cursor: default;
        font-family: Segoe UI, sans-serif;
    }

    .gridpagination a:hover {
        color: #ffffff;
        background-color: #95b589;
        font-weight: bold;
        font-family: Segoe UI, sans-serif;
    }



.cal_Theme1 .ajax__calendar_container {
    z-index: 1000;
    background-color: #e5e5e5;
    border: solid 1px #ccc;
    width: 180px;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_header {
    background-color: #e5e5e5;
    margin-bottom: 4px;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev {
    color: #444444;
    padding-top: 3px;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_body {
    background-color: #ffffff;
    border: solid 1px #ccc;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_dayname {
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 1px;
    color: #444444;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_day {
    color: #444444;
    text-align: center;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active {
    color: #ffffff;
    font-weight: bold;
    background-color: #95b589;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_today {
    font-weight: bold;
    color: #444444;
    margin-bottom: 4px;
    font-family: Segoe UI, sans-serif;
}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
    color: #444444;
}

.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-family: Segoe UI, sans-serif;
}

    .hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        font-family: Segoe UI, sans-serif;
    }

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-family: Segoe UI, sans-serif;
}

    .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(1.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        font-family: Segoe UI, sans-serif;
    }

.btn-ok {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    font-family: Segoe UI, sans-serif;
}

    .btn-ok:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        background-color: #dfdfdf;
    }

.modal-open {
    overflow: hidden;
}

.modalmsg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modalmsg.fade .modalmsg-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0,-25%);
        -ms-transform: translate(0,-25%);
        -o-transform: translate(0,-25%);
        transform: translate(0,-25%);
    }

    .modalmsg.in .modalmsg-dialog {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }

.modalmsg-open .modalmsg {
    overflow-x: hidden;
    overflow-y: auto;
}

.modalmsg-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modalmsg-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    font-family: Segoe UI, sans-serif;
}

.modalmsg-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modalmsg-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modalmsg-header {
    padding: 4px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-family: Segoe UI, sans-serif;
}

    .modalmsg-header .close {
        margin-top: -2px;
    }

.modalmsg-title {
    margin: 0;
    line-height: 1.42857143;
    color: #7b7b7b;
    font-family: Segoe UI, sans-serif;
}

.modalmsg-body {
    position: relative;
    padding: 4px;
    font-family: Segoe UI, sans-serif;
}

.modalmsg-footer {
    padding: 4px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-family: Segoe UI, sans-serif;
}

    .modalmsg-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
        font-family: Segoe UI, sans-serif;
    }

    .modalmsg-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modalmsg-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modalmsg-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width:768px) {
    .modalmsg-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modalmsg-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .modalmsg-sm {
        width: 300px;
    }
}

@media (min-width:992px) {
    .modalmsg-lg {
        width: 900px;
    }
}

.btn-def {
    color: #b4b3b3;
    font-weight: normal !important;
}

    .btn-def.active, .btn-def:active, .open > .dropdown-toggle.btn-def {
        color: #ffffff !important;
        background-color: transparent !important;
    }

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-family: Segoe UI, sans-serif;
}

.trborderbottom {
    /*height: 1px;*/
    margin: 0px 0;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.legendbold{
    font-size:16px; 
    font-weight: bold;
    color:#919191;
    margin-bottom: 10px;
}

/*******************************************************GRACe*******************************************************/
