<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SACHITESTConnectionString" connectionString="Data Source=ADMIN-PC;Initial Catalog=SACHITEST;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RGSTTConnectionString" connectionString="Data Source=MMCS2008\MMCSSERVER2008;Initial Catalog=RGSTT;User ID=Sa;Password=mmcs123#" providerName="System.Data.SqlClient" />
    <add name="LatestGSTConnectionString" connectionString="Data Source=MMCS2008\MMCSSERVER2008;Initial Catalog=LatestGST;User ID=sa;Password=mmcs123#" providerName="System.Data.SqlClient" />
    <add name="CHETANADISTRIBUTORSConnectionString" connectionString="Data Source=MMCS4-PC;Initial Catalog=CHETANADISTRIBUTORS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <!--<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>-->
    </httpHandlers>
    <httpRuntime targetFramework="4.5.2" />
    <compilation debug="true" strict="false" explicit="true" batch="false" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
  </system.web>
  <appSettings>
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="XMLPath" value="C:\inetpub\wwwroot\FAS\MasterXML\" />
    <add key="GST" value="Provider=SQLOLEDB.1;Data Source=MMCS2008\MMCSSERVER2008;Initial Catalog=LatestGST;User ID=Sa;Password=mmcs123#;TRUSTED_CONNECTION=NO" />
    <add key="Test" value="Provider=SQLOLEDB.1;Data Source=MMCS2008\MMCSSERVER2008;Initial Catalog=TestFAS;User ID=Sa;Password=mmcs123#;TRUSTED_CONNECTION=NO" />
    <!--<add key="MMCSPL" value="Provider=SQLOLEDB.1;Data Source=MMCS2008\MMCSSERVER2008;User ID=sa;pwd=mmcs123#;Initial Catalog=MMCSServer;TRUSTED_CONNECTION=NO" />-->
    <add key="F" value="Provider=SQLOLEDB.1;Data Source=Vijubangera;User ID=Sa;pwd=a;Initial Catalog=Fas;TRUSTED_CONNECTION=NO" />
    <!--<add key="FFR" value="Provider=SQLOLEDB.1;Data Source=MMCS2008\MMCSSERVER2008;User ID=Sa;pwd=mmcs123#;Initial Catalog=FFR;TRUSTED_CONNECTION=NO" />-->
    <add key="FFR" value="Provider=SQLOLEDB.1;Data Source=MMCS1;Initial Catalog=FFR;User ID=Sa;pwd=a;TRUSTED_CONNECTION=YES" />
    <add key="l" value="Provider=SQLOLEDB.1;Data Source=Vijubangera;Initial Catalog=lakkshmitimber;User ID=Sa;pwd=a;TRUSTED_CONNECTION=no" />
    <!--<add key="MMCSPL" value="Provider=SQLOLEDB.1;Data Source=;Initial Catalog=MMCSServer;TRUSTED_CONNECTION=YES" />-->
    <add key="MMCS" value="Provider=SQLOLEDB.1;Data Source=MMCS11\SQLEXPRESS;User ID=sa;pwd=a;Initial Catalog=MMCS;TRUSTED_CONNECTION=NO" />
    <!--<add key="MMCS" value="Provider=SQLOLEDB.1;Data Source=mmcs-server19;User ID=sa;pwd=mmcs@736;Initial Catalog=MMCS_test;TRUSTED_CONNECTION=NO" />-->
    <add key="CT" value="Provider=SQLOLEDB.1;Data Source=VIJUBANGERA;User ID=sa;pwd=a;Initial Catalog=CafeTest;TRUSTED_CONNECTION=NO" />
    <add key="SVC" value="Provider=SQLOLEDB.1;Data Source=MMCS11\SQLEXPRESS;User ID=sa;pwd=a;Initial Catalog=SVC;TRUSTED_CONNECTION=NO" />
    <add key="MMCSPL" value="Provider=SQLOLEDB.1;Data Source=MMCS11\SQLEXPRESS;User ID=sa;pwd=a;Initial Catalog=MMCSServer;TRUSTED_CONNECTION=NO" />
    <add key="R" value="Provider=SQLOLEDB.1;Data Source=MMCS11\SQLEXPRESS;User ID=sa;pwd=a;Initial Catalog=RubyRed;TRUSTED_CONNECTION=NO" />
    <add key="S" value="Provider=SQLOLEDB.1;Data Source=MMCS11\SQLEXPRESS;User ID=sa;pwd=a;Initial Catalog=SVCExpress;TRUSTED_CONNECTION=NO" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<add name="ChartImageHandler" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
      <add name="reportviewer" path="aspx" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" resourceType="File" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>